
body {

    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* Forest background */
    background: #A4AC86 url("images/websitetrees.png") no-repeat center bottom fixed;
    background-size: cover;
    margin: 0;

}

.container {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.signInBox {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 300px;

    margin: 20px;
    padding: 120px 200px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 10px 5px rgba(147, 102, 57, 0.7);
}

.signIn {
    
    color: #936639;
    font-size: 75px;
    margin: 100px 0 50px;
}

.username input, 
.password input {
    
    margin: 15px;
    padding: 8px 12px;
    border-radius: 10px;
    border-color: #936639;
    min-height: 25px;
    min-width: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(147, 102, 57, 0.7);

    

}

.signInButton button{
    margin: 50px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 3px solid #936639;
    font-size: 16px;
    font-weight: 600;
    min-height: 35px;
    min-width: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 5px 5px 5px rgba(147, 102, 57, 0.7);
}

 
.forgotPassword {
    text-decoration: none;
    margin-bottom: 100px;
    color: black;
}

.forgotPassword:hover {

    color:rgba(255, 0, 0, 0.594);
}



.username input:hover, .password input:hover {
    
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
    user-select: all;
}



.signInButton button:hover {
    background-color: rgb(249, 253, 190);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

